@model WebAppProjectMJB.Models.User

@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Access Denied</h1>

<h3>You tried to go to a page that you dont have permissions to, page for admin only</h3>
    
 <a asp-action="Index" asp-controller="Home">Back Home page</a>
    

