@model WebAppProjectMJB.Models.User

@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Access Denied</h1>

<h3>you try to go to page you dont have premiosn to enter,its for Admins</h3>

    
    
        
 <a asp-action="Index" asp-controller="Home">Back Home page</a>
    

