@model IEnumerable<WebAppProjectMJB.Models.GameConsole>




@*<div class="container">
    <form asp-action="Search" id="searchTry" class="col-sm-3 form-group">
        <input class="form-control" id="in" name="query" type="search" placeholder="type here">
        <br />
        <input type="submit" class="btn btn-primary" value="Search" />
    </form>
</div>*@



<table class="table">
   

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>




@section Scripts{
    <script src="~/js/Search.js" asp-append-version="true"></script>

}