@model WebAppProjectMJB.Models.FeedbackMessage

@{
    ViewData["Title"] = "Create";
}

<h1>Connect Us</h1>



<div class="form-control-sm">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ConnectUs">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name</label>
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                    <input asp-for="PhoneNumber" type="tel" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Message" class="control-label">Description</label>
                    <textarea asp-for="Message" type="text" class="form-control"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sumbit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>



    @if (Context.User.IsInRole("Admin"))
    {
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    }

</div>

<div class="text-md-right text-capitalize">
    <div>
        <h3>Talk to us </h3>
        <p>Branch: Rishon LeZion Colman</p>
        <p>Phone Number: 0500101019</p>
        <p>Aderass: The college of management academic studies Rishon LeZion </p>
        <p>Open Time: Sunday - Thursday 9:00 AM - 21:00 PM</p>
        <p>Email: colman@we.the.best.com</p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.6721508902056!2d34.77320748451696!3d31.969789832010143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b6ea7e5d0f75%3A0xb7f11f0f883d9111!2z15TXnteb15zXnNeUINec157Xmdeg15TXnCDXqNeQ16nXldefINec16bXmdeV158!5e0!3m2!1siw!2sil!4v1623313700057!5m2!1siw!2sil" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>



   




    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
