

<h1>About Us</h1>
@{
    ViewData["Title"] = "About";
}


<div class="text-md text-capitalize">
    <div>
        <h3 class="text-decoration-underline font-weight-bold">who are we? </h3>
        <p>We are a group of computer science students who love gaming we decided to start our own business in this world that we love so much</p>
        <h3 class="text-decoration-underline font-weight-bold">Why buy from us?</h3>
        <p>in MJB you find the best price for the game you love and A huge variety of games for consoles to buy at attractive prices </p>
        <h3 class="text-decoration-underline font-weight-bold">What you find here?</h3>
        <p>you can fine in our store the most new game for the diffrent consoles, we update the game list every week</p>
        <p>stay tune for more update in the near Future</p>
        <div class="font-weight-bolder font-italic align-text-top">
            <p>Branch: Rishon LeZion Colman</p>
            <p>Phone Number: 0500101019</p>
            <p>Aderass: The college of management academic studies Rishon LeZion </p>
            <p>Open Time: Sunday - Thursday 9:00 AM - 21:00 PM</p>
            <p>Email: colman@we.the.best.com</p>
        </div>
    </div>
</div>