

<h1>About Us</h1>
@{
    ViewData["Title"] = "About";
}


<div class="text-md">
    <div>
        <h3 class="text-decoration-underline font-weight-bold">Who we are? </h3>
        <p>We are a group of computer science students who love gaming we decided to start our own business</p>

        <div class="card-group">
            <div class="card">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGsOLwKp1g_Tg/profile-displayphoto-shrink_200_200/0/1606411906370?e=1631145600&v=beta&t=RBVwcokmgGGwZgkjcDzNnhwM4PTqz8vvoj9YEAcXDNA" class="card-img-top rounded-circle" style="width: 170px; height: 170px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Ben Gutman</h5>
                    <p class="card-text"> Second year student Computer Science at the College of Management </p>
                </div>
                <div class="card-footer">
                    <a href="https://www.linkedin.com/in/ben-gutman-929885200/">
                        <img src="https://img.icons8.com/color/48/000000/linkedin.png" />
                    </a>

                    <a href="https://github.com/ben9730" class="text-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHdL0x7KuQmqQ/profile-displayphoto-shrink_200_200/0/1573811568668?e=1631145600&v=beta&t=8MqR_zzcEbJqbAa8nMzna01juZqtO-GpEGVfpxNjBlM" class="card-img-top rounded-circle" style="width: 170px; height: 170px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Jonathan Zelthzer</h5>
                    <p class="card-text"> Second year student Computer Science at the College of Management </p>
                </div>
                <div class="card-footer">
                    <a href="https://www.linkedin.com/in/jonathan-zelthzer-5b3a6817a/">
                        <img src="https://img.icons8.com/color/48/000000/linkedin.png" />
                    </a>

                    <a href="https://github.com/Jonathanzds" class="text-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHk8S0ZwznpvA/profile-displayphoto-shrink_200_200/0/1623700314190?e=1631145600&v=beta&t=gPFskBIw-axIaStQKBgNS4j3Efc4fTpAtMmPemf4zXQ" class="card-img-top rounded-circle" style="width: 170px; height: 170px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Michael Bronshtein</h5>
                    <p class="card-text"> Second year student Computer Science at the College of Management </p>
                </div>
                <div class="card-footer">
                    <a href="https://www.linkedin.com/in/michael-bronshtein/">
                        <img src="https://img.icons8.com/color/48/000000/linkedin.png" />
                    </a>

                    <a href="https://github.com/MichaelBR95" class="text-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <br />

        <h3 class="text-decoration-underline font-weight-bold">Why buy from us?</h3>
        <p>in Game Zone you find the best price for the game you love and A huge variety of games for consoles to buy at attractive prices </p>
        <h3 class="text-decoration-underline font-weight-bold">What you find here?</h3>
        <p>you can find in our store the most new game for the diffrent consoles, we update the game list every week</p>
        <p>stay tune for more update in the near future</p>
        <div class="font-weight-bolder font-italic align-text-top">
            <p>Branch: Rishon LeZion Colman</p>
            <p>Phone Number: 0500101019</p>
            <p>Aderass: The college of management academic studies Rishon LeZion </p>
            <p>Open Time: Sunday - Thursday 9:00 AM - 21:00 PM</p>
            <p>Email: colman@we.the.best.com</p>
        </div>
    </div>
</div>



<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.6721508902056!2d34.77320748451696!3d31.969789832010143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b6ea7e5d0f75%3A0xb7f11f0f883d9111!2z15TXnteb15zXnNeUINec157Xmdeg15TXnCDXqNeQ16nXldefINec16bXmdeV158!5e0!3m2!1siw!2sil!4v1623313700057!5m2!1siw!2sil" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>