@{
    ViewData["Title"] = "Connect Us";
}

<h1>Connect Us</h1>

<div class="form-control-sm">
    <div class="col-sm-3">
        <label class="col-form-label">Name</label>
        <input type="text" class="form-control" />
        <label class="col-form-label">Phone Number</label>
        <input type="tel" class="form-control" />
        <label class="col-form-label">Email</label>
        <input type="email" class="form-control" />
        <label class="col-form-label">Description</label>
        <textarea class="form-control"></textarea>
        <div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>

<div class="text-md-right text-capitalize">
    <div>
        <h3>Talk to us </h3>
        <p>Branch: Rishon LeZion Colman</p>
        <p>Phone Number: 0500101019</p>
        <p>Aderass: The college of management academic studies Rishon LeZion </p>
        <p>Open Time: Sunday - Thursday 9:00 AM - 21:00 PM</p>
        <p>Email: colman@we.the.best.com</p>
    </div>
</div>

