@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>



<body style="background: url(https://www.hp.com/us-en/shop/app/assets/images/uploads/prod/video-game-genres1597871118726439.jpg) no-repeat center center fixed;
        background-size: 100% 100%;">

    

    <div class="text-md-center">

        <h1>
            <!--id="Header"-->
            <font face="Forte" color="white">
                Game Zone
                @*@Context.User.Identity.Name*@
            </font>


        </h1>
        <img src="https://images.pushsquare.com/34a25973f1db4/the-playstation-store-summer-sale-is-back.large.jpg"
             width="1000px" height="700"/>
        

    </div>

    <div>

        <img src="https://cdn.images.express.co.uk/img/dynamic/143/750x445/1400806.jpg"
             width="620px" />
        <img src="https://cdn.mos.cms.futurecdn.net/sRLTs4vF5Rb3oEBheJKRxE-1200-80.jpg"
             width="650px" />
        <font face="forte" color="white" size="7px"> The next Gen consoles Comming Soon with limited stock!</font>


    </div>
    <div>
        <img src="https://image.api.playstation.com/vulcan/img/rnd/202102/0920/mNGGxY8nunUsg9kC3KdZmUm1.jpg"
             width="1300px" />
        <font face="forte" color="white" size="7px"> The Grand trilogy of the Assasin's Creed Mythology 20% off </font>



    </div>
        <!-- underline <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
        
    <div>
        <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1500w,f_auto,q_auto:best/newscms/2021_08/3452698/210225-2x1-gaming-accessories-ew-1244p-3452698.jpg"
             width="1300px"/>
        <font face="forte" color="white" size="7px"> Buy second controller for the new consoles for 1/2 price! (Valid only on console purchase)</font>

    </div>

</body>

   


</html>
@*<div class="text-center">
    <h1 class="display-4">Welcome  @Context.User.Identity.Name</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @DateTime.Now
</div>*@
