@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<style>
    
</style>
<body style="background: url(https://www.hp.com/us-en/shop/app/assets/images/uploads/prod/video-game-genres1597871118726439.jpg) no-repeat center center fixed;
        background-size: 100% 100%;">

    <div class="text-md-center">

        <h1>
            <font face="Forte" color="white">Game Zone @Context.User.Identity.Name</font>
        </h1>

        <!-- underline <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    </div>
</body>

   


</html>
